<nav>
    <ul class="sidebar-nav-top">
        <li><a href="/catalog">Home</a></li>
        <li><a href="/catalog/movies">Movies</a></li>
        <li><a href="/catalog/directors">Directors</a></li>
        <li><a href="/catalog/genres">Genres</a></li>
    </ul>
    <hr />
    <ul class="sidebar-nav-bottom">
        <li><a href="/catalog/director/create">Create New Director</a></li>
        <li><a href="/catalog/genre/create">Create New Genre</a></li>
        <li><a href="/catalog/movie/create">Create New Movie</a></li>
    </ul>
</nav>
